body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: darkslategray;
    font-family: 'Caprasimo', cursive;
}

.simon{
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5%;
}

.dispositivo{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.btn {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.btn:active,
.active {
    filter: brightness(150%);
}
.Red{
    background-color: darkred;
}
.Blue{
    background-color: darkblue;
}
.Green{
    background-color: darkgreen;
}
.Yellow{
    background-color: darkgoldenrod;
}

#btnStart{
    width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: 'Caprasimo', cursive;
}
#btnStart:disabled{
    background-color: darkgray;
}

.title{
    width: min-content;
}

.win{
    animation: spin ls ease-in-out;
}
@keyframes spin{
    100% {transform: rotate(180deg);}
}